<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id="v-app">
      <h1>{{ title }}</h1>
      <form>
        <input v-model="message" type="text" />
        <button type="submit" @click.prevent="sendChatMessage()">Send</button>
      </form>
      <p></p>
      <ul>
        <li v-for="msg of messages">
          <strong>{{ msg.sender }}</strong>: {{ msg.message }}
        </li>
      </ul>
    </div>
    <script>
      const app = new Vue({
        el: '#v-app',
        data: {
          title: 'WebSocket tester',
          username: '',
          message: '',
          messages: [],
          socket: { chat: null },
        },
        methods: {
          sendChatMessage() {
            this.socket.chat.emit('chatToServer', {
              sender: this.username,
              message: this.message,
            });
            this.message = '';
          },
          receiveChatMessage(msg) {
            this.messages.push(msg);
          },
        },
        created() {
          this.username = prompt('Enter your username:');
          this.socket.chat = io('http://localhost:3000/chat');
          this.socket.chat.on('chatToClient', (msg) => {
            this.receiveChatMessage(msg);
          });
        },
      });
    </script>
  </body>
</html>
